name: publish

on:
  workflow_run:
    workflows: ["release"]
    types:
      - completed

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: 14.x
      - name: Install dependencies
        run: npm install
        env:
          CI: true
      - name: Build
        run: npm run build --if-present

  publish-npm:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: 14.x
          registry-url: 'https://registry.npmjs.org'
      - name: Install dependencies
        run: npm install
        env:
          CI: true
      - name: Build
        run: npm run build --if-present
      - name: Publish
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

#  publish-gpr:
#    needs: build
#    runs-on: ubuntu-latest
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v2
#      - name: Setup Node
#        uses: actions/setup-node@v2
#        with:
#          node-version: 14.x
#          registry-url: https://npm.pkg.github.com/
#      - name: Install dependencies
#        run: npm install
#        env:
#          CI: true
#      - name: Build
#        run: npm run build --if-present
#      - name: Publish
#        run: npm publish
#        env:
#          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions
